@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,700;1,900&display=swap');

:root {
     /*MAIN COLOR*/
     --white: #FFFFFF;
     --gray: #C2C2C2;
     --black: #000000;
     --theme: #07A899;

     /*CATEGORY COLOR*/
     --category-low: #13BF13;
     --category-medium: #EFDE18;
     --category-high: #EF8818;
     --category-critical: #EF1818;
     --category-suggestion: #0953A5;

     /*STATUS COLOR*/
     --status-resolved: #00D97C;
     --status-open: #0472D4;
     --status-in-progress: #FFC000;
     --status-closed: #F60035;
     --status-none: #FFFFFF;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
     font-family: 'Montserrat', sans-serif;
     font-weight: 900;
     color: var(--black);
}

body {
     background: url(../images/BugTrackerBackground.jpg) no-repeat center center fixed;
     background-size: cover;
     height: 100%;
}

h1 {
     padding-top: 1rem;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: var(--black);
    text-decoration: none;
}

a:hover, .btn-link:hover {
color: var(--gray);
text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    /*outline: 1px solid #26b050;*/
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

/*INDEX PAGE*/
.page-heading {
     text-align: center;
}

.bug-container {
     display: flex;
     justify-content: center;
     margin-bottom: 3rem;
}

.bug-btn {
     font-family: 'Montserrat', sans-serif;
     border-width: 3px;
     border-radius: 10px;
     padding-left: 2rem;
     padding-right: 2rem;
     font-weight: 900;
}

.btn-outline-dark:hover {
     color: var(--white);
     background-color: var(--black);
     border-color: var(--theme);
}

.bugs-count {
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     font-size: 1rem;
}

.btn-order {
     background-color: var(--gray);
     border: 0px solid var(--black);
     border-radius: 10px;
}

.btn:focus,
.form-control:focus {
     box-shadow: none;
}

.sort-selected {
     background-color: var(--theme);
     color: var(--black);
     font-weight: 700;
}

     .sort-selected:hover {
          color: var(--black);
     }

.search-box {
     --bs-gutter-x: 3.5rem;
}

.rounded-control {
     border-radius: 10px;
}

.categories {
     margin: 1rem;
     background-color: var(--white);
     border-radius: 10px;
     border: 2px solid var(--black);
     padding: 1rem;
}

     .categories div {
          margin-top: 1rem;
     }

          .categories div:hover {
               cursor: pointer;
          }

.selected-category {
     font-weight: 700;
}

.statuses {
     margin: 1rem;
     background-color: var(--white);
     border-radius: 10px;
     border: 2px solid var(--black);
     padding: 1rem;
}

     .statuses div {
          margin-top: 1rem;
     }

          .statuses div:hover {
               cursor: pointer;
          }

.selected-status {
     font-weight: 700;
}

.bug-entry {
     display: grid;
     grid-template-columns: 142px 1fr 45px;
     border-radius: 20px;
     margin: 20px 0;
     box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.entry-upvote {
     font-size: 3rem;
}

.bug-entry-no-votes,
.bug-entry-voted,
.bug-entry-not-voted {
     text-align: center;
     border-right: 3px solid var(--theme);
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     background-color: var(--theme);
     display: flex;
     flex-flow: column;
     justify-content: center;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     font-size: 0.8rem;
     min-height: 142px;
     cursor: pointer;
}

.bug-entry-no-votes {
     background-color: var(--gray);
     color: var(--white);
     border-color: var(--gray);
}

.bug-entry-voted {
     background-color: var(--theme);
     color: var(--white);
}

.bug-entry-not-voted {
     background-color: var(--white);
     color: var(--theme);
}

.bug-entry-text {
     display: flex;
     flex-direction: column;
     padding: 10px;
     padding-left: 20px;
     background-color: var(--white);
}

.bug-entry-text-title {
     flex-grow: 1;
     padding-top: 10px;
}

.bug-entry-category-text {
     text-transform: uppercase;
     color: var(--gray);
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     font-size: 0.8rem;
     flex: 1;
     display: flex;
     align-items: flex-end;
}

.bug-entry-category-low {
     color: var(--category-low);
}

.bug-entry-category-medium {
     color: var(--category-medium);
}

.bug-entry-category-high {
     color: var(--category-high);
}

.bug-entry-category-critical {
     color: var(--category-critical);
}
.bug-entry-category-suggestion {
     color: var(--category-suggestion);
}

.bug-entry-status {
     border-bottom-right-radius: 15px;
     border-top-right-radius: 15px;
     display: flex;
     padding: 1rem 1rem 1rem 0.2rem;
}

.bug-entry-status-text {
     text-transform: uppercase;
     writing-mode: vertical-rl;
     text-orientation: mixed;
     color: var(--white);
     padding: 5px;
     text-align: center;
     line-height: 1.75;
     font-weight: bold;
     font-size: 0.8rem;
     letter-spacing: 1.2px;
}

.bug-entry-status-resolved {
     background-color: var(--status-resolved);
     border: 1px solid var(--status-resolved);
}

.bug-entry-status-open {
     background-color: var(--status-open);
     border: 1px solid var(--status-open);
}

.bug-entry-status-in-progress {
     background-color: var(--status-in-progress);
     border: 1px solid var(--status-in-progress);
}

.bug-entry-status-closed {
     background-color: var(--status-closed);
     border: 1px solid var(--status-closed);
}

.bug-entry-status-none {
     background-color: var(--status-none);
     border: 1px solid var(--status-none);
}

.nav-links {
     display: flex;
     text-align: center;
     justify-content: flex-end;
}

.login-link {
     padding-left: 1rem;
}

/*REPORT PAGE*/
.form-layout {
     background-color: var(--white);
     border-radius: 15px;
     padding: 2rem;
}

     .form-layout a {
          font-weight: 700;
          color: var(--theme);
     }

          .form-layout a:hover {
               font-weight: 700;
               color: var(--theme);
               text-decoration: underline;
          }

.close-button-section {
     display: flex;
     justify-content: flex-end;
}

.input-section {
     margin-bottom: 2rem;
}

.input-description {
     margin-bottom: 0.5rem;
}


.radio-item-group {
     margin: 0.5rem;
}

     .radio-item-group label {
          border-color: var(--theme);
          border-width: 1px;
          padding: 0.3rem 1.5rem;
          border-radius: 10px;
          width: 100%;
          border-style: solid;
     }

     .radio-item-group input[type="radio"] {
          display: none;
     }

          .radio-item-group input[type="radio"]:checked + label {
               background-color: var(--theme);
               color: var(--white);
               width: 100%;
               border: 1px solid var(--theme);
          }

.center-children {
     display: flex;
     justify-content: center;
}

.btn-main {
     color: var(--white);
     background-color: var(--theme);
     padding-right: 2rem;
     padding-left: 2rem;
     font-family: 'Montserrat', sans-serif;
     font-weight: 900;
     border-radius: 10px;
     border-width: 3px;
}

     .btn-main:hover {
          color: var(--theme);
          border-color: var(--theme);
          background-color: var(--white);
          border-width: 3px;
     }

/*DETAILS*/
.bug-detail-row {
     --bs-gutter-x: 0;
}

.bug-detail {
     display: grid;
     grid-template-columns: 100px 1fr;
     padding: 0;
}

.bug-detail-no-votes,
.bug-detail-not-votes,
.bug-detail-voted {
     border: 3px solid var(--theme);
     text-align: center;
     line-height: 1rem;
     height: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: 0.8rem;
}

.bug-detail-no-votes {
     background-color: var(--gray);
     color: var(--white);
     border-color: var(--gray);
}

.bug-detail-voted {
     background-color: var(--theme);
     color: var(--white);
}

.bug-detail-not-voted {
     background-color: var(--white);
     color: var(--theme);
}

.detail-upvote {
     font-size: 2.7rem;
}

.bug-detail-date {
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
}

.bug-detail-text {
     display: flex;
     flex-direction: column;
     padding: 0 10px 10px 27px;
}

.bug-detail-category-low {
     color: var(--category-low);
}

.bug-detail-category-medium {
     color: var(--category-medium);
}

.bug-detail-category-high {
     color: var(--category-high);
}

.bug-detail-category-critical {
     color: var(--category-critical);
}

.bug-detail-category-suggestion {
     color: var(--category-suggestion);
}


.bug-detail-bug {
     font-size: 1.25rem;
}

.bug-detail-author {
     color: var(--gray);
}

.bug-results {
     display: grid;
     grid-template-columns: 50px 1fr;
     padding: 0;
     margin-top: 20px;
}

.bug-detail-status-resolved {
     background-color: var(--status-resolved);
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
}

.bug-detail-status-open {
     background-color: var(--status-open);
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
}

.bug-detail-status-in-progress {
     background-color: var(--status-in-progress);
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
}

.bug-detail-status-closed {
     background-color: var(--status-closed);
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
}

.bug-detail-status-none {
     background-color: var(--status-none);
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
}

.bug-detail-status-section {
     padding: 1.5rem;
}

.bug-detail-status {
     flex-grow: 1;
}

.bug-detail-owner-notes {
     padding-bottom: 20px;
}

/*ADMIN ACCEPTANCE*/
.submission {
     background-color: var(--white);
     border-radius: 10px;
     padding: 1rem;
     margin-bottom: 1rem;
}

.btn-accept,
.btn-reject {
     width: 100%;
     font-family: 'Montserrat', sans-serif;
     border-radius: 10px;
     border-width: 3px;
}

.btn-accept {
     color: var(--white);
     background-color: var(--status-resolved);
     border-color: var(--white);
}

     .btn-accept:hover {
          color: var(--status-resolved);
          background-color: var(--white);
          border-color: var(--status-resolved);
     }

.btn-reject {
     color: var(--white);
     background-color: var(--status-closed);
     border-color: var(--white);
}

     .btn-reject:hover {
          color: var(--status-closed);
          background-color: var(--white);
          border-color: var(--status-closed);
     }

.acceptance-edit-form {
     display: flex;
}

.acceptance-edit-field {
     flex: 1;
     border-radius: 10px;
}

.submission-edit-accept {
     color: var(--status-resolved);
}

     .submission-edit-accept:hover {
          font-weight: 700;
     }

.submission-edit-reject {
     color: var(--status-closed);
}

     .submission-edit-reject:hover {
          font-weight: 700;
     }

.submission-edit-icon {
     padding-left: 1rem;
     padding-right: 1rem;
}

     .submission-edit-icon:hover {
          color: var(--status-open);
     }

/*PROFILE*/
.my-submission-heading {
     color: var(--black);
     text-transform: uppercase;
}

my-submission-text {
     margin-bottom: 0;
     padding-left: 1rem;
}

.my-submission-separator {
     color: var(--gray);
     height: 2px;
     opacity: 1;
}

/*ARCHIVING*/
.bug-entry-bottom {
     display: flex;
}

.btn-archive {
     border: 0;
     background-color: var(--white);
     padding: 0 10px;
     flex: unset;
}

.btn-archive-confirm,
.btn-archive-cancel {
     text-transform: uppercase;
     color: var(--gray);
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     font-size: 0.8rem;
     flex: 1;
}

.btn-archive-confirm {
     color: var(--status-closed);
}

/*DETAILS STATUS*/
.admin-details {
     margin-top: 20px;
}

.admin-set-statuses {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

.btn-status-resolved:hover {
     color: var(--status-resolved);
}

.btn-status-open:hover {
     color: var(--status-open);
}

.btn-status-in-progress:hover {
     color: var(--status-in-progress);
}

.btn-status-closed:hover {
     color: var(--status-closed);
}

